@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_100.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_100italic.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_300.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_300italic.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_500.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_500italic.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_700.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_700italic.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_900.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_900italic.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_1000.otf') format("opentype");
}
@font-face {
  font-family: 'Museo Slab';
  font-style: italic;
  font-weight: bold
  ;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_1000italic.otf') format("opentype");
}