@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://use.typekit.net/dml0esq.css'),
  url('./../fonts/Museo-sans/MuseoSans-300.otf') format("opentype"),
  url('./../fonts/Museo-sans/MuseoSans-300.woff') format('woff'),
  url('./../fonts/Museo-sans/MuseoSans-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://use.typekit.net/dml0esq.css'),
  url('./../fonts/Museo-sans/MuseoSans-500.otf') format("opentype"),
  url('./../fonts/Museo-sans/MuseoSans-500.woff') format('woff'),
  url('./../fonts/Museo-sans/MuseoSans-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_700.otf') format("opentype"),
  url('./../fonts/Museo-slab/Museo_Slab_700.woff') format('woff'),
  url('./../fonts/Museo-slab/Museo_Slab_700.woff2') format('woff2');
}
@font-face {
  font-family: 'Museo Slab';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./../fonts/Museo-slab/Museo_Slab_900.otf') format("opentype"),
  url('./../fonts/Museo-slab/Museo_Slab_900.woff') format('woff'),
  url('./../fonts/Museo-slab/Museo_Slab_900.woff2') format('woff2');
}
